################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/applicationDatas/audio/JarOfLove–曲婉婷.mp3
/dev/M.mp4
