.areadiv table {
    max-width: 100%;
    margin: 0.25rem auto;
    background-color: #cccccccc;
    border-collapse: collapse;
    box-shadow: 0 0px 20px #888;
}

.areadiv tr {
/*    background-color: rgb(200, 207, 219);*/
}

    .areadiv tr:hover {
        font-weight: bold;
        z-index: 100;
        box-shadow: 0 0px 5px #888;
    }
        .areadiv tr:hover td {
            background-color: #ff6a004b;
        }

    .areadiv tr td {
        padding: 10px 1rem;
        border-bottom: 1px solid #ababab;
        border-right: 1px solid #ababab;
        font-family: sans-serif;
        text-align: center;
    }

    .areadiv tr:first-child {
        background-color: #2b2b2b;
        color: white;
        font-weight: bold;
    }

    .areadiv tr:first-child td:first-child{
        text-align:left;
    }

    .areadiv tr:nth-child(2n) {
        background-color: #cccccc;
    }

    .areadiv tr td[colspanall] {
        background-color: #3b3b3b;
        color: white;
        font-weight: bold;
        border-bottom-width: 0px;
        text-align:left;
    }